[Desktop Entry]
Type=Application
Name=Oldscool Intro
Comment=A oldscool intro with sdl2
Comment[de]=Ein Oldscool Intro
Icon=oldscool_intro
TryExec=oldscool_intro
Exec=oldscool_intro %f
MimeType=application/x-geogebra-file;application/x-geogebra-tool;
Categories=AudioVideo;
